        
                    /*cabecera*/
#cabecera h1{

        color: gold;
        font-style: italic;
        text-align: center; 
}



#cabecera img{
   
    width: 350px;
    height: 300px;
    border-radius: 100px;
    border-style: solid;
    border-color: blueviolet;
    
     

}
#cabecera p{
            text-align: center;

}
                /*datos*/

.datos h4{
            color:gold;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration-line: underline;

}
.datos spam{
    font-style: italic;
    font-weight: bold;


}               
             
            /*series y peliculas*/


.SyP h4 {
    color:gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;

}
.SyP img {
          height: 150px;
          width: 200px;
            border-color:blueviolet;
            border-style: solid;

}
.SyP li{
        font-weight: bold;
        font-style: italic;


}

        /*perfil*/


.perfil h4{

    color:gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration-line: underline;
    font-size: large;

}       

.perfil {
    background-color:  rgb(20, 180, 220);
    text-align: center ;
    border-color:  rgb(20, 180, 220);
    border-style: solid;
    border-width: 20px;
    padding: 50px;
    margin-left: 100px;
    
}
.perfil p{
    text-align: left;
    color:cornsilk;
    font-style: italic;
    
}
                    /*Pie de pagina*/
footer p{
        text-align: center;
        font-style: italic;
        font-weight: bold;
}
footer a{
        color:blue;
        text-decoration-line:underline;

}