 html {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    background-color: #7c7f9e;
 }

 * {
    margin: 0;
    padding: 0;

 }

 /*cabecera*/

 header {
    background-image: linear-gradient(to top right, #A9C9FF, #FFBBEC);
    border-radius: 15px;
    padding: 25px;
    border-bottom: solid;
    box-shadow: 10px 0px 100px black;
    border-color: white;
 }

 header h1 {
    text-align: left;
    margin-left: 35px;
    color: white;
    font-size: 45px;

 }



 .partea {
    display: flex;
    justify-content: space-evenly;

 }

 .partea div img {
    border-style: groove;
    border-color: white;
    margin-top: 45px;
    margin-left: -30px;
    width: 380px;
    height: 400px;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px white;


 }

 .datos {
    font-size: 25px;
    margin-top: 90px;
    color: black;
    font-weight: bold;


 }

 .datos h4 {
    color: white;
    padding-bottom: 35px;
    margin-bottom: 15px;
    margin-left: -86px;

 }

 .datos ul li {
    list-style: none;
    margin-left: -63px;
    margin-top: 10px;

 }


 .series {
    display: flex;
    justify-content: space-evenly;

 }

 .series img {

    width: 300px;
    height: 250px;
    align-content: center;
    border-style: groove;
    border-color: white;
    border-radius: 10px;

 }

 .series li {
    list-style: none;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;


 }

 .syp h4 {

    background-image: linear-gradient(to top right, #A9C9FF, #FFBBEC);
    text-align: center;
    border-radius: 15px;
    margin-top: 90px;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 45px;
    color: white;
    border-bottom: solid;
    box-shadow: 10px 0px 50px black;
    border-color: white;

 }

 .des {
    color: white;
    margin: 45px;
    list-style: none;
    border-bottom: double;
    border-color: black;
    padding-bottom: 25px;
    border-radius: 15px;
    border-width: 9px;





 }

 .des li {

    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 60px;
    margin-bottom: 35px;
    padding-bottom: 15px;




 }

 .des p {
    color: rgb(201, 233, 230);

 }



 .perfil {

    display: flex;
    color: rgb(201, 233, 230);
    border-bottom: double black;
    border-radius: 15px;
    padding-bottom: 60px;
    border-width: 5px;

 }

 .perfil div li {

    color: white;
    list-style: circle;
    margin-top: 45px;


 }

 .perfil div p {

    text-align: left;
    margin-top: 25px;

 }

 footer {
    margin-top: 90px;
    background-color: black;
    position: relative;
    padding: 95px;
    

 }

 .form {
    color: rgb(201, 233, 230);
    position: absolute;
    top: 170px;
    left: 605px;
    font-size: 10px;


 }

 .redes p {
    color: #7c7f9e;
    position: absolute;
    left: 250px;
    top: 35px
 }

 .iconos {
    display: flex;
    position: absolute;
    left: 255px;
    top: 65px;

 }


 .iconos svg {
    width: 35px;
    height: 35px;
    background-color: white;
    margin-left: 15px;

 }
 .form {
   color: rgb(201, 233, 230);
   position: absolute;
   top: 170px;
   left: 605px;
   font-size: 10px;


}
.form a {
         color: #7c7f9e;


}