* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cont {
    margin-top: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;


}

.cont div {
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont div:first-child {
    background-color: red;


}

.cont div:last-child {
    background-color: green;


}

.cont div:nth-child(even) {
    background-color: blue;

}